<div class="landing">

</div>

<div class="lanfloat">
  <h6>Welcome to Expedition Society</h6>
  <div class = "enter_site">
   <p><a href="tri" class="btn btn-primary">Enter</a></p>
  </div>
    </div>
